
body {
  font-family: Roboto, 'Segoe UI', sans-serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
  font-weight: 300;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 48px;
  margin: 0;
}

p, button {
  margin-top: 5vh;
}

.page-header {
  background: linear-gradient(to right, #1cbda7, #19d175);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

#image img {
  height: 200px;
  margin-top: 60px;
  border-radius: 50%;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, .3);
}
