
body {
  font-family: Roboto, 'Segoe UI', sans-serif;
  text-align: center;
  color: #343a40;
  font-size: 22px;
  font-weight: 300;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 48px;
}

p {
  margin-top: 80px;
}

button {
  margin-top: 40px;
}

.page-header {
  background: linear-gradient(to top right, #00bda5, #2fd3bd);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

#image img {
  height: 200px;
  margin-top: 60px;
}
